:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-size:18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image:url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-color:var(--dark-cyan);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
}

main{
    display:grid;
    place-items:center;
    height: 100vh;
}

.card-container{
    max-width:350px;
    height:374px;
    background:#fff;
    overflow:hidden;
    border-radius:15px;
}

.card-top{
    width:350px;
    height:140px;
}
.intro{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:var(--very-dark-desaturated-blue);
    height:145px;
    padding-bottom:28px;
    border-bottom:1px solid var(--dark-gray);
}

.intro h3{
    font-size:18px;
    font-weight:700;
}

.intro p{
    color:var(--dark-grayish-blue);
    font-size:14px;
}

.accent{
    color:var(--dark-gray);
    font-weight:400;
    font-size:18px;
}

.intro img{
    height:96px;
    width:96px;
    border-radius:50%;
    border: 5px solid #fff;
    margin-top:-50px;
}

.intro h3{
    margin:1em 0 0.6em 0;
}

.social{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    text-align:center;
    height:90px;
}

.social h3{
    font-size:18px;
    font-weight:700;
    color:#2E3349;
}

.social p{
    font-size:10px;
    font-weight:400;
    color:#6B7082;
    margin-top:0.5em;
    letter-spacing:1.5px;
}

