*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Karla', sans-serif;
    background:#E6EFF5;
    display:grid;
    place-items:center;
    min-height:100vh;
}

.container{
    width:635px;
    height:475px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}

.top-grid,.left-grid,.right-grid{
    padding-top:40px;
    padding-left:40px; 
    padding-bottom:40px;
}
.top-grid{
    grid-column:1/3;
    grid-template:1/2;
    background:#fff;
}

.top-grid h1{
    font-size:24px;
    font-weight:700;
    letter-spacing:-0.3px;
    color:#2AB3B1;
    margin-bottom:30px;
}

.top-grid h3{
    font-size:18px;
    font-weight:700;
    letter-spacing:-0.22px;
    color:#C0DF33;
    margin-bottom:11px;
}

.top-grid p{
    font-size:16px;
    font-weight:400;
    letter-spacing:-0.2px;
    line-height:26px;
    color:#9AA7BE;
}

.left-grid{
    grid-column:1/2;
    grid-row:2/3;
    background:#2AB3B1;
    color:#fff;
}

.left-grid h3{
    margin-bottom:24px;
    font-size:18px;
    font-weight:700;
    letter-spacing:-0.22px;
}

.left-grid .price{
    font-size:32px;
    font-weight:700;
    letter-spacing:-0.4px;
    margin-right:13px;
}

.monthly{
    display:flex;
    align-items:center;
    margin-bottom:9px;
}

.left-grid .btn{
    margin-top:26px;
    width:237px;
    height:48px;
    color:#fff;
    background:#C0DF33;
    border:none;
    outline:none;
    border-radius:10px;
    font-family: inherit;
    font-size:16px;
    font-weight:700;
    letter-spacing:-0.2px;
}

.right-grid{
    grid-column:2/3;
    grid-column:2/3;
    background:#2AB3B1;
    opacity:0.8;
    color:#fff;
}

.right-grid h3{
    font-weight:700;
    font-size:18px;
    letter-spacing:-0.22px;
    margin-bottom:18px;
}

.right-grid li{
    list-style-type: none;
    font-size:14px;
    line-height:20px;
    font-weight:400;
    letter-spacing:-0.17px;
}

@media only screen and (max-width:576px){
    .container{
        width:311px;
        height:722px;
        grid-template-columns:1fr;
        grid-template-rows:repeat(3,1fr);
    }

    .top-grid{
        grid-column:1/2;
        grid-row:1/2;
    }

    .left-grid{
        grid-column:1/2;
        grid-row:2/3;  
    }

    .right-grid{
        grid-column:1/2;
        grid-row:3/4;
    }
}